@{
    ViewBag.Title = "About";
}
<h2>Informacion</h2>
<h3>@ViewBag.Message</h3>

<address>
    Proyecto Final de Prog 3<br />

</address>
<p>_____________________________________________________________________________</p>

<address>

    Steven S. Baez M<br />

    Matricula: 2017-4864<br />

</address>